@use "../../lib/service.scss" as s;

.field {
  display: flex;
  flex-direction: column;
  // gap: s.space(1);
  width: 100%;
}

.field__label {
  font-size: 14px;
  color: gray;
  padding-left: 8px;
}

.field__input {
  padding: s.space(2);
  color: black;
}