<main class="main">
  <form method="POST" action="/purchase-update?id={{data.id}}">
    <div class="form__card">
      {{>heading title="Зміна даних"}}

      <div class="block1">
        {{!-- {{>field-text label="ID:" type="number" data=purchaseUpdate.id name="id"}} --}}
        <span>ID:</span>
        <span>{{data.id}}</span>
      </div>

      <div class="block2">
        {{>field label="Ім'я:" value=data.firstname name="firstname"}}
        {{>field label="Прізвище:" value=data.lastname name="lastname"}}
         {{>field label="Телефон:" value=data.phone name="phone"}}
         {{>field label="Електронна пошта:" value=data.email name="email"}}
       
      </div>

      {{>button text="Зберігти зміни"}}
      {{!-- {{>button-link text="Змінити дані" link="/purchase-info?id=" data=data.id }} --}}
    </div>
  </form>
</main>